*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
    background: #f2f2f2 none repeat scroll 0 0;
}
.header{
    background: #565656 none repeat scroll 0 0;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
}
.mainmenu{
    margin-top: 3px;
    overflow: hidden;
}

.mainmenu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.mainmenu ul li{
    display: block; float: left;
    
}
.mainmenu ul li a{
    background: #818181 none repeat 0 0;
    color: #fff;
    margin-left: 2.5px;
    padding: 10px 53px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    
}
.mainmenu ul li a:hover{
    background: #666;
}
.content{
    border-bottom: 3px solid #c3c3c3;border-top: 3px solid #c3c3c3;
    min-height: 400px;
    overflow: hidden;
    padding: 20px;
}
.content h2{
    background: #ddd;
    color: #ff3333;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
}
.msg{
    color: #0000ff;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.login_reg{
    background: #e7e7e7 none repeat scroll 0 0;
    padding: 20px;
}
input[type="text"],input[type="email"],input[type="password"]{
    border: 1px solid #d5d5d5;
    margin-bottom: 6px;
    margin-left: 10px;
    width: 285px;
    padding: 5px;
}
input[type="submit"],input[type="reset"]{
background: #888; 
border: 1px solid #626262;
border-radius: 3px;
cursor: pointer;
color: #fff;
font-weight: bold;
padding: 5px 15px;
float: right;
margin-right: 20px;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background: #666;
}
input[type="radio"]{
 margin-left: 50px;
}
input[type="option"]{
 width: 300px;
}


/*
input[type="textarea"]{
 float: left;
}*/


.back{
background: #888; 
border: 1px solid #626262;
border-radius: 3px;
cursor: pointer;
color: #fff;
font-weight: bold;
padding:15px;
margin-right: 20px;
width: 100px;
text-align: center;
}
.back:hover{
    background: #666;
}

table{
    margin: 0 auto;
    border: 1px solid #ff3333;
    padding: 30px;
}

table td{
    border-bottom: 2px solid #cccccc;
    padding: 5px;
    width: 100px;
}
/*.child:last-child {
    border: none;
}*/



.footer{
    background: #565656 none repeat scroll 0 0;
    padding: 20px;
    color: #fff;
    text-align: center;
}
